html {
  text-align: center;
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  overflow-x: hidden;
}

body {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.App-header {
  max-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(25px + 2vmin);
  margin: 15px;
  margin-bottom: 35px;
}

.element-container {
  margin: 15px;
}

.filterContainer {
  display: flex;
}

.appBody {
  height: 80vh;
  margin: 15px;
}

.filter-date-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.campaign-list-container {
  height: 70vh;
  display: flex;
  justify-content: center;
  width: 100%;
}

.basic-form-element-margin {
  margin-left: 10px !important;
  margin-right: 10px !important;
}

.full-width {
  width: 100%;
}

table th:first-child{
  border-radius:10px 0 0 0px;
}

table th:last-child{
  border-radius:0 10px 0px 0;
}

#custom-table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#custom-table td, #custom-table th {
  border: 0px solid #ddd;
  padding: 8px;
  text-align: left;
}

#custom-table tr:nth-child(even){background-color: #f2f2f2;}

#custom-table tr:hover {background-color: #ddd;}

#custom-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #6C7AE0;
  color: white;
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px)
  }
  100% {
    transform: translateY(0px)
  }
}
