html {
  text-align: center;
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  overflow-x: hidden;
}

body {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.App-header {
  max-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(25px + 2vmin);
  margin: 15px;
  margin-bottom: 35px;
}

.element-container {
  margin: 15px;
}

.filterContainer {
  display: flex;
}

.appBody {
  height: 80vh;
  margin: 15px;
}

.filter-date-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.campaign-list-container {
  height: 70vh;
  display: flex;
  justify-content: center;
  width: 100%;
}

.basic-form-element-margin {
  margin-left: 10px !important;
  margin-right: 10px !important;
}

.full-width {
  width: 100%;
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px)
  }
  100% {
    transform: translateY(0px)
  }
}
